@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Silk-Serif";
  src: url("../silk-serif/Silk-Serif-ExtraLight.otf") format("truetype");
  font-weight: 100;
  font-style:normal
}
@font-face {
  font-family: "Silk-Serif";
  src: url("../silk-serif/Silk-Serif-ExtraLight-Italic.otf") format("truetype");
  font-weight: 100;
  font-style:italic;
}@font-face {
  font-family: "Silk-Serif";
  src: url("../silk-serif/Silk-Serif-Light.otf") format("truetype");
  font-weight: 200;
  font-style:normal
}
@font-face {
  font-family: "Silk-Serif";
  src: url("../silk-serif/Silk-Serif-Light-Italic.otf") format("truetype");
  font-weight: 200;
  font-style:italic;
}@font-face {
  font-family: "Silk-Serif";
  src: url("../silk-serif/Silk-Serif-Medium.otf") format("truetype");
  font-weight: 300;
  font-style:normal
}
@font-face {
  font-family: "Silk-Serif";
  src: url("../silk-serif/Silk-Serif-Medium-Italic.otf") format("truetype");
  font-weight: 300;
  font-style:italic;
}@font-face {
  font-family: "Silk-Serif";
  src: url("../silk-serif/Silk-Serif-Regular.otf") format("truetype");
  font-weight: 400;
  font-style:normal
}
@font-face {
  font-family: "Silk-Serif";
  src: url("../silk-serif/Silk-Serif-Regular-Italic.otf") format("truetype");
  font-weight: 400;
  font-style:italic;
}
@font-face {
  font-family: "Silk-Serif";
  src: url("../silk-serif/Silk-Serif-SemiBold.otf") format("truetype");
  font-weight: 500;
  font-style:normal
}
@font-face {
  font-family: "Silk-Serif";
  src: url("../silk-serif/Silk-Serif-SemiBold-Italic.otf") format("truetype");
  font-weight: 500;
  font-style:italic;
}
@font-face {
  font-family: "Silk-Serif";
  src: url("../silk-serif/Silk-Serif-Bold.otf") format("truetype");
  font-weight: 600;
  font-style:normal
}
@font-face {
  font-family: "Silk-Serif";
  src: url("../silk-serif/Silk-Serif-Bold-Italic.otf") format("truetype");
  font-weight: 600;
  font-style:italic;
}
@font-face {
  font-family: "Silk-Serif";
  src: url("../silk-serif/Silk-Serif-Black.otf") format("truetype");
  font-weight: 700;
  font-style:normal
}
@font-face {
  font-family: "Silk-Serif";
  src: url("../silk-serif/Silk-Serif-Black-Italic.otf") format("truetype");
  font-weight: 700;
  font-style:italic;
}

.card {
  padding: 2em;
}
html{
  font-size: 10px;
}

.magazine-cover__title{
  font-size: 18rem;
  margin-top: 10rem;
  margin-bottom: -14.4rem;
  font-family: "Silk-Serif", serif;
  font-weight: 100;
  position: relative;
  z-index: -1;
  text-align: center;
  letter-spacing: -0.25rem;
  text-transform: uppercase;
}

.magazine-cover__art {
  top: 2.50rem;
  left: 2.50rem;
  width: calc(100% - 5rem);
  height: calc(100% - 5rem);
  position: absolute;
  z-index: -1;
  overflow: hidden;
}
.magazine-cover__image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  --overflow: 120px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.magazine-cover__blurred-title {
  font-family: "Silk-Serif", serif;
  font-weight: 100;
  font-size: 18rem;
  position: absolute;
  z-index: 2;
  top: -12.6rem;
  right: 0;
  left: 0;
  text-align: center;
  letter-spacing: -0.25rem;
  text-transform: uppercase;
  filter: blur(2px);
}

.magazine-cover__subtitle {
  color: #e2dfdf;
  font-size: 3rem;
  font-weight: normal;
  position: absolute;
  z-index: 1;
  top: 31rem;
  right: 0;
  left: 0;
  max-width: 55rem;
  margin: 0 auto;
  transition: filter .5s ease;
  transition-delay: .5s;
  text-align: center;
  text-transform: uppercase;
  filter: blur(0.5px);
}

.magazine-cover__image-wrapper {
  background-color: #e2dfdf;
  max-width: 120rem;
  height: 120rem;
  margin: 0 auto;
  padding-top: min(15 / 12 * 100%, 97.5rem);
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.top-nav {
  font-family: "Helvetica Neue", serif;
  max-width: 120rem;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
  grid-template-columns: repeat(3, calc(100% / 3));
  font-size: 2.50rem;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  text-transform: uppercase;
}

.top-nav__brand {
  text-decoration: none;
  justify-self: start;
  display: flex;
  align-items: center;
}

.top-nav__brand svg {
  width: 1.5ch;
  margin-right: .5ch;
  animation: svg-rotate 10s linear infinite;
}

.dispocomponent{
  font-family: "Silk-Serif", serif;
  font-weight: 100;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
}
.aviscomponent{
  font-family: "Silk-Serif", serif;
  font-weight: 100;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
}

.vision{
  display: flex;
  flex-flow: row;
  justify-content: center;
  height: 3rem;
  font-size: 3rem;
  line-height: 1em;
  overflow: hidden;
}
.moving{
  padding-top: 4px;
  display: flex;
  flex-flow: column nowrap;
  transform: translateY(0);
  animation: slide-up 22s infinite;
  text-align: center;
}

@keyframes slide-up {
  0%, 15%{
    transform: translateY(0%);
  }
  20%, 35%{
    transform: translateY(-100%);
  }
  40%, 55%{
    transform: translateY(-200%);
  }
  60%, 75%{
    transform: translateY(-300%);
  }
  80%, 95%{
    transform: translateY(-400%);
  }
  99%, 100%{
    transform: translateY(-500%);
  }
}